<a href="https://colab.research.google.com/github/JoaoLucasAbreu/Panda_DataFrames/blob/main/pd_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Including Data directely in DataFrame**

In [5]:
import pandas as pd

In [3]:

df = pd.DataFrame(
    data = [['Shrimp', 10.], ['Beef', 5]],
    index = ['Line_1', 'Line_2'],
    columns = ['Meal', 'Price'])

df

          Meal  Price
Line_1  Shrimp     10
Line_2    Beef      5

**Importing Data to DataFrame by Dictionary**

In [10]:
dic = {'Meal': ['Shrimp', 'Beef'], 'Price': [10, 5]}

df = pd.DataFrame(dic)

df

     Meal  Price
0  Shrimp     10
1    Beef      5

**Accessing Columns**

In [13]:
df['Meal']

0    Shrimp
1      Beef
Name: Meal, dtype: object

**Data Types**

In [14]:
type(df['Meal'])

#Every column from a DataFrames is Panda Series

pandas.core.series.Series

**Reading CSV Files from Google Drive**

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:

df_netflix = pd.read_csv('/content/drive/MyDrive/csv_files/netflix.csv')
df_netflix.head()

                   title rating  ... user rating score  user rating size
0           White Chicks  PG-13  ...              82.0                80
1    Lucky Number Slevin      R  ...               NaN                82
2         Grey's Anatomy  TV-14  ...              98.0                80
3           Prison Break  TV-14  ...              98.0                80
4  How I Met Your Mother  TV-PG  ...              94.0                80

[5 rows x 7 columns]

In [10]:
#Column Types
df_netflix.dtypes

title                 object
rating                object
ratingLevel           object
ratingDescription      int64
release year           int64
user rating score    float64
user rating size       int64
dtype: object

In [13]:
#Converting Types for test
df_netflix['user rating size'].astype(float)

0      80.0
1      82.0
2      80.0
3      80.0
4      80.0
       ...
995    80.0
996    81.0
997    82.0
998    82.0
999    80.0
Name: user rating size, Length: 1000, dtype: float64

In [19]:
#DataFrame Size
df_netflix.shape

(1000, 7)

In [20]:
df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   rating             1000 non-null   object
 2   ratingLevel        941 non-null    object
 3   ratingDescription  1000 non-null   int64
 4   release year       1000 non-null   int64
 5   user rating score  605 non-null    float64
 6   user rating size   1000 non-null   int64
dtypes: float64(1), int64(3), object(3)
memory usage: 54.8+ KB

In [21]:
df_netflix.describe()

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000